.back {
  background: white;
  opacity: 0.6;
}
.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
.icon-button:focus,
.icon-button:active,
.icon-button.active,
.icon-button:hover,
.icon-button:visited {
  color: gray;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
.completed {
  color: green;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
