<table class="table table-striped back">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="nameProject" (sort)="onSort($event)">Name</th>
      <th scope="col" sortable="descriptionProject" (sort)="onSort($event)">
        Description
      </th>
      <th scope="col" sortable="startProject" (sort)="onSort($event)">
        startProject
      </th>
      <th scope="col">
        <div>
          <label>Status: </label>
          <select (change)="filterForeCasts($event.target.value)">
            <option value="0">--All--</option>
            <option *ngFor="let sts of Status" value="{{ sts }}">
              {{ sts }}
            </option>
          </select>
        </div>
        <!-- statusProject -->
      </th>
      <th scope="col">details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ project.nameProject }}</td>
      <td>{{ project.descriptionProject }}</td>
      <td>{{ project.startProject | date: "yyyy-MM-dd" }}</td>
      <td>{{ project.statusProject }}</td>
      <td><button class="btn" (click)="goToPage(project)">more...</button></td>
    </tr>
    <tr>
      <td><button class="btn" (click)="addProject()">Dodaj</button></td>
    </tr>
  </tbody>
</table>
