.top{
    background-color: #ffffff;
    opacity: 0.6; 
    border-radius: 20px;
    color: black;
    height: 20vh;
    min-height: 100px;
    display: block;
    overflow-y: scroll;
}
.top-center{
    text-align: center;
}
.row-fluid{
    margin-top: 10px;
}