<div class="cointerner top border border-primary">
        <div class="row-fluid ">
                 <h4 class="top-center">Posiłki</h4>              
        </div>
        <div class="row-fluid">
          Śniadanie:
          <br>
          Obiad:
          <br>
          Kolacja:
        </div>    
</div>