<div class="conteriner-fluid backstage">
<div class="row">


<div class="col-sm-12 col-md-4">

      <div class="row-fluid drag-container">

        <div class="row">
          <div class="col-10">
            <h2 *ngIf="project.nameProject">
              {{ project.nameProject }}
              </h2>
          </div>
          <div class="col-2">
            <button class="icon-button" (click)="openProject()">
              <i class="fas fa-pen-nib"></i>
            </button>
          </div>
        </div>
        <hr>

        <h6>Wykonanie</h6>
        <div class="progress border border-secondary">
          <div class="progress-bar" role="progressbar" aria-valuenow="capacityavailable" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: capacityavailable + '%'}">
          {{capacityavailable}}%
          </div>
       </div>
       <hr>

       <h6>Start projektu: {{project.startProject | date: "dd-MM-yyyy" }}</h6>

       <h6 *ngIf="project.endProject">Koniec projektu: {{project.endProject | date: "dd-MM-yyyy" }}</h6>
       <hr>
        </div>

        <div class="row-fluid drag-container">
          <div class="row">
              <h4 *ngIf="project.nameProject">
                Tablice
                </h4>
          </div>
          <div *ngIf="(tabsts !==[]) else loading">

            <hr>
            <div class="row" *ngFor="let card of tabsts">
              <div class="col-4">
                 <h6>{{card.name}}</h6>
              </div>
              <div class="col-8">
                  <div class="progress border border-secondary">
                    <div class="progress-bar" role="progressbar" aria-valuenow="capacityavailable" aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{width: card.progres + '%'}">
                    {{card.progres}}%
                    </div>
                  </div>
             </div>
             <hr>
            </div>
        </div>
        <ng-template #loading>
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-template>
</div>
</div>



<div class="col-sm-12 col-md-8">


  <div class="row-fluid drag-container">
    <div class="row">
          <div class="col-sm-12 col-md-6 drag-container-2 border border-secondary" >
              <p>Aktualne taski</p>
          </div>
          <!-- <div class="col-md-1"></div> -->
          <div class="col-sm-12 col-md-6 drag-container-2 border border-secondary" >
              <p>Taski po terminie</p>
          </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class=" col-md-12 weekChart">
      Wykres
    </div>
  </div>
</div>

  </div>
</div>
