/* .info {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cont {
  display: flex;
  overflow: auto;
  overflow-x: auto;
  height: 80vh;
  background: rgba(255, 255, 255, 0.2);
  max-width: 100%;
  vertical-align: top;
  background-color: #e9ecef;
  opacity: 0.6;
  padding: 15px;
}

.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
.icon-button:focus,
.icon-button:active,
.icon-button.active,
.icon-button:hover,
.icon-button:visited {
  color: gray;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
.completed {
  color: green;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
} */
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.info {
  display: block;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  height: 88vh;
  border-radius: 15px;
}
.backstage{
  display: block;
  overflow-x: auto;
  height: 80vh;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 15px;
}
.column {
  display: inline-block;
  min-height: 80vh;
  height: 100%;

}
.column-2 {
  display: inline-block;
  min-height: 32vh;
  margin: 0px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.2);
}

.drag-container {
  /* height: 30vh; */
   /* display: relative; */
  /* width: 100%; */
  padding: 15px 15px 15px 15px;
  margin: 15px 0px 0px 0px;
  vertical-align: top;
  background-color: #e9ecef;
  opacity: 0.8;
  border-radius: 5px;
}
.drag-container-2 {
  /* height: 30vh; */
   /* display: relative; */
  /* width: 100%; */
  padding: 15px 15px 15px 15px;
  margin: 15px 0px 0px 0px;
  vertical-align: top;
  background-color: #e9ecef;
  opacity: 0.8;
  border-radius: 5px;
  min-height: 32vh;
}
.weekChart{
  padding: 15px 15px 15px 15px;
  margin: 15px 0px 0px 0px;
  vertical-align: top;
  background-color: #e9ecef;
  opacity: 0.8;
  border-radius: 5px;
  min-height: 40vh;
  display: relative !important;
}






.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
.icon-button:focus,
.icon-button:active,
.icon-button.active,
.icon-button:hover,
.icon-button:visited {
  color: rgb(131, 8, 8);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
.completed {
  color: green;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}


.col-md-6{
  width: 45% !important;
}


