<div class="container-fliud">


<div class="row">
    <div class="col-12">
      <input type="checkbox" [(ngModel)] = "task.status" [checked]="task.status" id="exampleCheck1" (change)="changedStatus(task)">
    </div>
    <div class="col-9 ">
        <i class="fas fa-cloud"></i>
        {{task.title}}
      </div>
      <div class="col-1">
           <button type="button" class="btn btn-default btn-xl">
              <span class="glyphicon glyphicon-pencil">&#x2a;</span>
            </button>
        </div>
      <div class="col-1">
          <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
</div>
</div>
