<div class="row text-center">
    <div class="col-md-4 offset-md-8">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="viewChangeEmit('info')"
          [class.active]="viewProject === 'info'"
        >
          Info
        </div>
        <div
          class="btn btn-primary"
          (click)="viewChange.emit('gantt')"
          [class.active]="viewProject === 'gantt'"
        >
          Gantt
        </div>
        <div
          class="btn btn-primary"
          (click)="viewChange.emit('kanban')"
          [class.active]="viewProject === 'kanban'"
        >
          Kanban
        </div>
      </div>
    </div>
  </div>
  <br />