<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- <a class="navbar-brand" routerLink="/"> -->
      <img src='../../../assets/planner_logo.jpg' width="25px" height="25px">
    <!-- </a> -->
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item "  [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item"  [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/project">Projekt</a>
        </li>
        <li class="nav-item"  [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/calendar">Kalendarz</a>
        </li>
        <li class="nav-item"  [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/planer">Planer</a>
          </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View</a>
          <div class="dropdown-menu">
              <a class="dropdown-item active" routerLink="/day">Day</a>
              <a class="dropdown-item" routerLink="/day">Week</a>
              <a class="dropdown-item" routerLink="/day">Month</a>
          </div>
      </li> -->
      <li class="nav-item" [routerLinkActive]="['active']"> <a class=" nav-link" (click)="logout()">Logout</a></li>
      </ul>
      <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>

<!--
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-list">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-create">Create</a>
        </li>

      </ul>
    </div>
  </nav> -->
