
<div class="cointerner top border border-primary">
        <div class="row-fluid ">
                 <h4 class="top-center">Nawyki</h4>              
        </div>
        <div class="row-fluid">
            <button class="btn btn-primary-outline" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" >
                    <i class="fas fa-glass-whiskey"></i>
            </button>
        </div>    
        <div class="row-fluid" style="margin: 5px">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
</div>