.top{
    background-color: white;
    opacity: 0.8; 
    color: black;
    max-height: 255px;
    display: block;
    padding: 10px;
    border-radius: 10px;
}
.top-center{
    text-align: center;
}
.top-item{
    padding-top: 3px;
    padding-bottom: 3px;
     /* border: none;  */
}
.top-group{
    border: none;
}
input:focus {
    background-color: powderblue;
  }
.lista{
    display: flex;
    overflow-y: auto;
}
.todoadd{
    padding-bottom: 0.5rem;
}
.todoadd2{
    /* padding-bottom: 0.5rem; */
    /* min-height: 130px; */
    max-height: 160px;
    display: block;
    overflow-y: auto;
}