<div class="container-fluid top">
        <div class="row-fluid ">
                <h4 class="top-center">Top 3</h4>
        </div>
        <div class="row-fluid ">
                <div class="input-group todoadd">
                        <input #newTask type="text" class="form-control" placeholder="Do zrobienia"
                                aria-label="Do zrobienia" aria-describedby="basic-addon2"
                                (keyup.enter)="addTask(newTask.value)"
                                (blur)=" tasksTop.length != 3 ? addTask(newTask.value) : null ; newTask.value='' ">
                        <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="addTask(newTask.value)"
                                        [disabled]="tasksTop.length >= 3 ? 'disabled': null">Button</button>
                        </div>
                </div>
        </div>
        <div class="row-fluid todoadd2">
                <ul class="list-group lista " cdkDropList (cdkDropListDropped)="drop($event)"
                        [cdkDropListData]="tasksTop">
                        <li *ngFor="let item of tasksTop"
                                class="list-group-item d-flex justify-content-between align-items-center" cdkDrag
                                [ngStyle]="item.status ? {'background-color': '#dfecda'} : {}">
                                <div class="col-1">
                                        <input type="checkbox"  id="exampleCheck1" [checked]="item.status"
                                                 (change)="changedStatus(item)">
                                </div>
                                <div class="col-10 border border-primary " (click)="singleClick($event)"
                                        (dblclick)="doubleClick(item)">
                                        {{item.title}}
                                </div>
                                <div class="col-1"><button class="badge badge-primary badge-pill"
                                                (click)="openFormModal(item)">{{item.id}}</button>
                                </div>
                        </li>
                </ul>
        </div>
</div>