/* .icon-button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
    .icon-button:focus, .icon-button:active, .icon-button.active,.icon-button:hover, .icon-button:visited {
        color: red;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
    .completed{
        color: green;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
     */

.container-fluid {
  min-height: 50vh;
  height: 100vh;
  overflow-y: auto;
  padding-top: 60px;
  color: #000000;
}
.container {
  min-height: 100vh;
  opacity: 1;
  height: 100vh;
  overflow-y: auto;
  padding-top: 60px;
  color: #000000;
}
