.container-fluid {
  overflow-y: auto !important;
  color: #000000;
}

.section-heading {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.lists {
  display: flex;
  overflow-x: auto;
  height: 80vh;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 15px;
}

.drag-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #e9ecef;
  opacity: 0.8;
  padding: 15px;
  border-radius: 5px;
}
.menu-container {
  width: 100px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #e9ecef;
  opacity: 0.8;
  padding: 15px;
  border-radius: 5px;
}

.item-list {
  min-height: 60px;
  max-height: 80vh;
  border-radius: 4px;
  display: block;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* background: red !important; */
}

.item-box {
  padding: 8px 10px;
  border: solid 1px #ccc;
  margin-bottom: 5px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background-color: white;
  font-size: 14px;
  border-radius: 20px;
}
.item-box-1 {
  padding: 8px 10px;
  border: solid 1px #ccc;
  margin-bottom: 5px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: white;
  font-size: 14px;
  border-radius: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.kc_fab_main_btn {
  background-color: #f44336;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #f44336;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.kc_fab_main_btn:focus {
  transform: scale(1.1);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 250px;
  bottom: 250px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
input {
  outline: none;
  border: none !important;
  background-color: white;
  line-height: normal !important;
}
.col-2 {
  padding-left: 0;
  padding-right: 0;
}
