<!-- <div class="row-fluid" style="padding-left: 15px;"> -->
<div
  class="btn-group"
  role="group"
  aria-label="Basic example"
  style="padding-left: 15px;"
>
  <button type="button" class="btn btn-info">
    <i class="fas fa-plus-circle"></i>
    Dodaj karte
  </button>
  <button type="button" class="btn btn-info">
    <i class="fas fa-sort"></i>
    Układaj karty
  </button>
</div>

<div class="container-fluid " style="overflow-x: auto; overflow-y: auto; ">
  <div class="lists" style="overflow-y: hidden;">
    <div *ngFor="let card of cards">
      <div class="drag-container">
        <div class=" row section-heading">
          <div class="col-10">Tablica: {{ card.name }}</div>
          <div class="col-2">data</div>
        </div>

        <div class="row-fluid item-box-1">
          <div class="col-10">
            <input
              #newTask
              type="text"
              placeholder="Dodaj nowe zadanie"
              aria-label="Do zrobienia"
              (keyup.enter)="dodaj(card, newTask.value); newTask.value = ''"
              (blur)="dodaj(card, newTask.value); newTask.value = ''"
            />
            <!-- <button (click)="changeComponentValue(inputData)">Click-{{inputData}}</button> -->
          </div>
          <div class="col-2 text-right">
            <button
              class="col-2"
              class="kc_fab_main_btn"
              (click)="dodaj(card, newTask.value)"
            >
              +
            </button>
          </div>
        </div>

        <div
          cdkDropList
          id="{{ card.name }}"
          [cdkDropListData]="card.tasks"
          [cdkDropListConnectedTo]="connectedTo"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let task of card.tasks" cdkDrag>
            {{ card.name }} ( {{ task.position }} ) -> {{ task.title }}
            <button
              class="col-2"
              class="kc_fab_main_btn"
              style="background: lightslategray !important;"
            >
              i
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
