<div class="modal-header">

  <h4 class="modal-title">Task</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName="description" />
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" formControlName="date" />
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input type="checkbox" class="form-control" formControlName="status" />
      </div>
      <div class="form-group">
        <label for="date">Top3</label>
        <input type="checkbox" class="form-control" formControlName="top3" />
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" formControlName="category" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>