<div class="modal-header">
  <h4 class="modal-title">Projekt</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="myForm" novalidate (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="nameProject">Tytuł</label>
        <input type="text" class="form-control" formControlName="nameProject" />
      </div>
      <div
        *ngIf="
          myForm.controls['nameProject'].invalid &&
          (myForm.controls['nameProject'].dirty ||
            myForm.controls['nameProject'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="myForm.controls['nameProject'].errors.required">
          Tytuł jest wymagany
        </div>
      </div>
      <div class="form-group">
        <label for="descriptionProject">Opis</label>
        <input
          type="text"
          class="form-control"
          formControlName="descriptionProject"
        />
      </div>
      <!-- <div class="form-group">
        <label for="startProject">Data początkowa</label>
        <input
          type="text"
          class="form-control"
          formControlName="startProject"
        />
      </div> -->
      <div class="form-group">
        <label for="startProject">Data początkowa</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(formControl)]="myForm.controls.startProject"
            ngbDatepicker
            #d="ngbDatepicker"
            data-date-format="yyyy-mm-dd"
            #spy
          />
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <img
              src="../../../assets/iconfinder_calendar_285670.svg"
              style="width: 2rem; height: 2rem; cursor: pointer;"
            />
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="endProject">Data końcowa</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp2"
            [formControl]="myForm.controls.endProject"
            ngbDatepicker
            #s="ngbDatepicker"
            [minDate]="myForm.controls.startProject.value"
            #spy
          />
          <div class="input-group-addon" (click)="s.toggle()">
            <img
              src="../../../assets/iconfinder_calendar_285670.svg"
              style="width: 2rem; height: 2rem; cursor: pointer;"
            />
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="endProject">Data końcowa </label>
        <input type="text" class="form-control" formControlName="endProject" />
      </div> -->
      <!-- <div class="form-group">
        <label for="statusProject">Status</label>
        <input
          type="text"
          class="form-control"
          formControlName="statusProject"
        />
      </div> -->
      <div class="form-group">
        <select
          class="custom-select"
          (change)="changeStatus($event)"
          formControlName="statusProject"
        >
          <!-- <option value="" disabled>Choose your city</option> -->
          <option *ngFor="let status of Status" [value]="status">{{
            status
          }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>
