<div class="container-fluid" >
        <div class="row justify-content-around"> 
                <button class="previouse round" (click)="prevDay()"><<<<<</button>
                <h4>{{currentDay}}</h4>
                <button class="previouse round" (click)="nextDay()">>>>>>></button>
         </div>
        <div class="row">
                <div class="col-md-6">
                         <div class="row-fluid" style="margin-top: 10px;">
                                <app-top [(currentDay)]="currentDay"></app-top>
                       </div>
                       <div class="row-fluid" style="margin-top: 10px;">
                                <app-task [(currentDay)]="currentDay"></app-task> 
                       </div>
                </div> 
                <div class="col-md-6">
                                <div class="row-fluid" style="margin-top: 10px;">
                                        <app-water></app-water>
                                </div>  
                                <div class="row-fluid" style="margin-top: 10px;">
                                        <app-habit></app-habit>
                                </div>
                                <div class="row-fluid" style="margin-top: 10px;">
                                        <app-eats></app-eats>
                                </div>     
                </div>
        </div>
        
        <br>
</div>

