<app-project-header
  [(viewProject)]="viewProject"
  (viewChange)="setView($event)"
></app-project-header>

<div [ngSwitch]="viewProject">
  <app-info
    *ngSwitchCase="'info'"
    [(project)]="project"
    [currentDate]="currentDate"
    (outputEvent)="onComponentChange($event)"
  ></app-info>
  <app-gantt
    *ngSwitchCase="'gantt'"
    [(project)]="project"
    (outputEvent)="onComponentChange($event)"
  ></app-gantt>
  <app-kanban
    *ngSwitchCase="'kanban'"
    [(project)]="project"
    (outputEvent)="onComponentChange($event)"
    (inputDataChange)="onChangeTask($event)"
  ></app-kanban>
</div>
