@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/dhtmlx-gantt/codebase/skins/dhtmlxgantt_terrace.css";

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url(src/assets/background.jpg);

  /* Full height */
  height: 100vh;
  width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  display: block;
  position: relative;
}
.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
.icon-button:focus,
.icon-button:active,
.icon-button.active,
.icon-button:hover,
.icon-button:visited {
  color: blue;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
.completed {
  color: green;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}
