<div class="container-fluid task border border-primary" >
    <div class="row-fluid">
                            <h4 class="top-center">Lista zadań</h4>
                    </div>
                    <div class="row-fluid ">
                            <div class="input-group ">
                                    <input #newTask type="text" class="form-control" placeholder="Do zrobienia"
                                            aria-label="Do zrobienia" aria-describedby="basic-addon2"
                                            (keyup.enter)="addTask(newTask.value); newTask.value=''"
                                            (blur)=" addTask(newTask.value); newTask.value='' ">
                                    <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" (click)="addTask(newTask.value)">Button</button>
                                    </div>
                            </div>
                    </div>
                    <div class="row-fluid todoadd2">
                            <ul class="list-group lista " cdkDropList (cdkDropListDropped)="drop($event)"
                                    [cdkDropListData]="tasks">
                                    <li *ngFor="let item of tasks"
                                            class="list-group-item d-flex justify-content-between align-items-center" cdkDrag
                                            [ngStyle]="item.status ? {'background-color': '#dfecda'} : {'background-color': '#ff0000'}">
                                            <div class="col-1">
                                                    <input type="checkbox"  id="exampleCheck1" [checked]="item.status"
                                                             (change)="changedStatus(item)">
                                            </div>
                                            <div class="col-10 border border-primary " (click)="singleClick($event)"
                                                    (dblclick)="doubleClick(item)">
                                                    {{item.title}}
                                            </div>
                                            <div class="col-1"><button class="badge badge-primary badge-pill"
                                                            (click)="openFormModal(item)">{{item.position}}</button>
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>

