.task{
  background-color: #ffffff;
  opacity: 0.5; 
  border-radius: 20px;
  color: black;
  height: 55vh;
  min-height: 200px;
  display: block;
  overflow-y: scroll;
}
.container-fluid{
  padding: 0;
}